@tailwind components;

@layer components {
  .btn-primary {
    @apply tw-pointer-events-auto tw-flex tw-w-max tw-items-center tw-rounded-lg tw-border-2 tw-border-primary-600 tw-bg-primary-600 tw-px-4 tw-pb-2 tw-pt-3 tw-text-lg tw-font-semibold tw-uppercase tw-leading-none tw-transition tw-duration-200 hover:tw-scale-105 hover:tw-border-primary-600 hover:tw-bg-primary-500 focus:tw-border-primary-200 focus:tw-outline-none active:tw-scale-95 active:tw-bg-primary-900
  }

  .btn-outline {
    @apply tw-border-primary-400 tw-bg-transparent tw-text-primary-400 hover:tw-bg-primary-600/30
  }

  .btn-primary svg {
    transform: translateY(-2px);
  }

  /* .tags {
    @apply tw-flex tw-w-max tw-items-center tw-rounded-lg tw-border-2 tw-border-primary-600 tw-bg-primary-600 tw-px-4 tw-pb-2 tw-pt-3 tw-text-lg tw-font-semibold tw-uppercase tw-leading-none tw-text-primary-50 tw-transition
  } */

  .tags svg {
    width: 16px;
    height: 16px;
    margin-right: .5rem;
    transform: translateY(-1px);
  }

  .tags svg path {
    fill: currentColor;
  }
}