@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 219, 220;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


/* pdf viewer */
.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-pdf__Page {
  margin: 0.5rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.react-pdf__message {
  padding: 1.5rem;
}

.textLayer :is(span, br)::selection {
  color: transparent;
  background-color: #536bd966;
}

.textLayer :is(span, br)::-moz-selection {
  color: transparent;
  background-color: #536bd966;
}