@tailwind base;
@tailwind components;
@tailwind utilities;

/* --foreground-rgb: 0, 0, 0; */
/* :root {
  --foreground-rgb: 2, 13, 24;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) { */
/* } */
:root {
  /* --foreground-rgb: 214, 219, 220; */
  --foreground-rgb: 212, 233, 252;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


/* body { */
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
/* } */

/* custom */
.glass-bg-dark::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #27272ae6;
  backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0px 0 5px 1px #00000080;
  z-index: -1;
}

.glass-bg-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to left top, #041d34bf, #051a2dbf, #061626bf, #05121fbf, #020d18bf);
  backdrop-filter: blur(12px);
  box-shadow: 0px 0 5px 1px #00000080;
  z-index: -1;
}

.glass-bg-primary-2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #08376320;
  backdrop-filter: blur(3px);
  z-index: -1;
}

/* pdf viewer */
.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-pdf__Page {
  margin: 0.5rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.react-pdf__message {
  padding: 1.5rem;
}

.textLayer :is(span, br, mark)::selection {
  color: transparent;
  background-color: #536bd966;
}

.textLayer :is(span, br, mark)::-moz-selection {
  color: transparent;
  background-color: #536bd966;
}

.textLayer mark {
  color: transparent;
  background-color: #a1a11266;
}

/* pdf headings thumbnail (document outline) */
.outline-wrapper {
  position: fixed;
  max-width: 340px;
  transition: .3s ease-in-out;
  z-index: 4;
}

.outline-wrapper .scrollable-wrapper {
  padding: 1.5rem;
  height: calc(100vh - 3.5rem);
  overflow-y: auto;
}

.react-pdf__Outline li {
  padding-left: 1.5rem;
}

.react-pdf__Outline>ul>li {
  padding: 0;
  /* font-size: larger; */
}

.react-pdf__Outline>ul>li>a {
  font-size: 1.1rem;
}

.react-pdf__Outline>ul>li>ul>li>a {
  font-size: 1.05rem;
}

.react-pdf__Outline>ul>li>ul>li>ul>li {
  font-size: 1rem;
}

.react-pdf__Outline a {
  position: relative;
  display: block;
  padding: .15rem .5rem;
  margin: .2rem 0;
  transition: .2s;
}

.react-pdf__Outline a::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 3px;
  background-color: #27272ae6;
  backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 0 1px 0 #00000080;
  transition: .2s;
  z-index: -1;
}

.react-pdf__Outline a:hover::before {
  background-color: #48484dbf;
  box-shadow: 0 0 2px 0 #00000080;
}

.react-pdf__Outline a:active::before {
  background-color: #39393dbf;
  box-shadow: none;
}

.react-pdf__Outline ul {
  position: relative;
}

.react-pdf__Outline>ul>li ul::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0.5rem;
  border-left: 2px solid #1a1a1bbf;
}

/* styling for when ctrl+p is pressed */
@media print {

  /* hide elements */
  header,
  .outline-wrapper,
  .react-pdf__Page__textContent,
  .react-pdf__Page__annotations {
    display: none;
  }

  /* fix styles */
  .pdf-viewer-container>div:last-child {
    padding: 0 !important;
  }

  .react-pdf__Page {
    margin: 0;
    box-shadow: none;
  }

  /* remove blank page for a4 size */
  /* .react-pdf__Page__canvas {
    width: 800px !important;
    height: 1101px !important;
  } */

}

/* shadcn */

@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 99%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 5%;

    --primary: 209 86% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 91%;
    --input: 0 0% 84%;
    --ring: 0 0% 76%; */

    --radius: 0.5rem;
    /*  */
    --background: 240 3% 6%;
    --foreground: 0 0% 98%;

    --card: 210 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 210 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 209 86% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 5% 22%;
    --muted-foreground: 210 5% 49%;

    --accent: 209 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 5% 12%;
    --input: 210 4% 18%;
    --ring: 209 85% 40%;
  }

  .dark {
    --background: 240 3% 6%;
    --foreground: 0 0% 98%;

    --card: 210 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 210 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 209 86% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 5% 22%;
    --muted-foreground: 210 5% 49%;

    --accent: 209 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 5% 12%;
    --input: 210 4% 18%;
    --ring: 209 85% 40%;
  }
}

@layer base {
  * {
    @apply tw-border-border;
  }

  body {
    @apply tw-bg-background tw-text-foreground;
  }
}