/* .Example input,
.Example button {
  font: inherit;
} */

/* header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
} */

/* .Example header h1 {
  font-size: inherit;
  margin: 0;
} */

/* .Example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
} */

/* .Example__container__load {
  margin-top: 1em;
  color: white;
} */

/* .Example__container__document {
  width: 100%;
  max-width: calc(100% - 2em);
  margin: 1em 0;
} */